$l-black: val(--l-black, #000);
$l-white: var(--l-white, #fff);

$l-gray-1: var(--l-gray, #f7f8fa);
$l-gray-2: var(--l-gray, #f2f3f5);
$l-gray-3: var(--l-gray, #ebedf0);
$l-gray-4: var(--l-gray, #dcdee0);
$l-gray-5: var(--l-gray, #c8c9cc);
$l-gray-6: var(--l-gray, #969799);
$l-gray-7: var(--l-gray, #646566);
$l-gray-8: var(--l-gray, #323233);

$l-blue-0: var(--l-blue-0, #eff6ff);
$l-blue-1: var(--l-blue-1, #dbeafe);
$l-blue-2: var(--l-blue-2, #bfdbfe);
$l-blue-3: var(--l-blue-3, #93c5fd);
$l-blue-4: var(--l-blue-4, #60a5fa);
$l-blue-5: var(--l-blue-5, #3b82f6);
$l-blue-6: var(--l-blue-6, #2563eb);
$l-blue-7: var(--l-blue-7, #1d4ed8);
$l-blue-8: var(--l-blue-8, #1e40af);
$l-blue-9: var(--l-blue-9, #1e3a8a);
$l-blue-10: var(--l-blue-10, #172554);

$l-green-0: var(--l-green-0, #f0fdf4);
$l-green-1: var(--l-green-1, #dcfce7);
$l-green-2: var(--l-green-2, #bbf7d0);
$l-green-3: var(--l-green-3, #86efac);
$l-green-4: var(--l-green-4, #4ade80);
$l-green-5: var(--l-green-5, #22c55e);
$l-green-6: var(--l-green-6, #16a34a);
$l-green-7: var(--l-green-7, #15803d);
$l-green-8: var(--l-green-8, #166534);
$l-green-9: var(--l-green-9, #14532d);
$l-green-10: var(--l-green-10, #052e16);

$l-red-0: var(--l-red-0, #fef2f2);
$l-red-1: var(--l-red-1, #fee2e2);
$l-red-2: var(--l-red-2, #fecaca);
$l-red-3: var(--l-red-3, #fca5a5);
$l-red-4: var(--l-red-4, #f87171);
$l-red-5: var(--l-red-5, #ef4444);
$l-red-6: var(--l-red-6, #dc2626);
$l-red-7: var(--l-red-7, #b91c1c);
$l-red-8: var(--l-red-8, #991b1b);
$l-red-9: var(--l-red-9, #7f1d1d);
$l-red-10: var(--l-red-10, #450a0a);

$l-orange-0: var(--l-orange-0, #fff7ed);
$l-orange-0: var(--l-orange-0, #fff7ed);
$l-orange-1: var(--l-orange-1, #ffedd5);
$l-orange-2: var(--l-orange-2, #fed7aa);
$l-orange-3: var(--l-orange-3, #fdba74);
$l-orange-4: var(--l-orange-4, #fb923c);
$l-orange-5: var(--l-orange-5, #f97316);
$l-orange-6: var(--l-orange-6, #ea580c);
$l-orange-7: var(--l-orange-7, #c2410c);
$l-orange-8: var(--l-orange-8, #9a3412);
$l-orange-9: var(--l-orange-9, #7c2d12);
$l-orange-10: var(--l-orange-10, #431407);

$l-yellow-0: var(--l-yellow-0, #fefce8);
$l-yellow-1: var(--y-yellow, #fefce8);
$l-yellow-2: var(--y-yellow-2, #fef9c3);
$l-yellow-3: var(--y-yellow-3, #fef08a);
$l-yellow-4: var(--y-yellow-4, #fde047);
$l-yellow-5: var(--y-yellow-5, #facc15);
$l-yellow-6: var(--y-yellow-6, #eab308);
$l-yellow-7: var(--y-yellow-7, #ca8a04);
$l-yellow-8: var(--y-yellow-8, #a16207);
$l-yellow-9: var(--y-yellow-9, #854d0e);
$l-yellow-10: var(--y-yellow-10, #6f360e);

$l-lime-0: var(--l-lime-0, #f7fee7);
$l-lime-1: var(--l-lime-1, #f7fee7);
$l-lime-2: var(--l-lime-2, #ecfccb);
$l-lime-3: var(--l-lime-3, #bef264);
$l-lime-4: var(--l-lime-4, #a3e635);
$l-lime-5: var(--l-lime-5, #84cc16);
$l-lime-6: var(--l-lime-6, #65a30d);
$l-lime-7: var(--l-lime-7, #4d7c0f);
$l-lime-8: var(--l-lime-8, #3f6212);
$l-lime-9: var(--l-lime-9, #365314);
$l-lime-10: var(--l-lime-10, #1a2e05);

$l-emerald-0: var(--l-emerald-0, #ecfdf5);
$l-emerald-1: var(--l-emerald-1, #ecfdf5);
$l-emerald-2: var(--l-emerald-2, #d1fae5);
$l-emerald-3: var(--l-emerald-3, #6ee7b7);
$l-emerald-4: var(--l-emerald-4, #34d399);
$l-emerald-5: var(--l-emerald-5, #10b981);
$l-emerald-6: var(--l-emerald-6, #059669);
$l-emerald-7: var(--l-emerald-7, #047857);
$l-emerald-8: var(--l-emerald-8, #065f46);
$l-emerald-9: var(--l-emerald-9, #064e3b);
$l-emerald-10: var(--l-emerald-10, #022c22);

$l-teach-0: var(--l-teach-0, #f0fdfa);
$l-teach-1: var(--l-teach-1, #ccfbf1);
$l-teach-2: var(--l-teach-2, #99f6e4);
$l-teach-3: var(--l-teach-3, #5eead4);
$l-teach-4: var(--l-teach-4, #2dd4bf);
$l-teach-5: var(--l-teach-5, #14b8a6);
$l-teach-6: var(--l-teach-6, #0d9488);
$l-teach-7: var(--l-teach-7, #0f766e);
$l-teach-8: var(--l-teach-8, #115e59);
$l-teach-9: var(--l-teach-9, #134e4a);
$l-teach-10: var(--l-teach-10, #042f2e);

$l-cyan-0: var(--l-cyan-0, #ecfeff);
$l-cyan-1: var(--l-cyan-1, #cffafe);
$l-cyan-2: var(--l-cyan-2, #a5f3fc);
$l-cyan-3: var(--l-cyan-3, #67e8f9);
$l-cyan-4: var(--l-cyan-4, #22d3ee);
$l-cyan-5: var(--l-cyan-5, #06b6d4);
$l-cyan-6: var(--l-cyan-6, #0891b2);
$l-cyan-7: var(--l-cyan-7, #0e7490);
$l-cyan-8: var(--l-cyan-8, #155e75);
$l-cyan-9: var(--l-cyan-9, #164e63);
$l-cyan-10: var(--l-cyan-10, #083344);

$l-sky-0: var(--l-sky-0, #f0f9ff);
$l-sky-1: var(--l-sky-1, #e0f2fe);
$l-sky-2: var(--l-sky-2, #bae6fd);
$l-sky-3: var(--l-sky-3, #7dd3fc);
$l-sky-4: var(--l-sky-4, #38bdf8);
$l-sky-5: var(--l-sky-5, #0ea5e9);
$l-sky-6: var(--l-sky-6, #0284c7);
$l-sky-7: var(--l-sky-7, #0369a1);
$l-sky-8: var(--l-sky-8, #075985);
$l-sky-9: var(--l-sky-9, #0c4a6e);
$l-sky-10: var(--l-sky-10, #082f49);

$l-indigo-0: var(--l-indigo-0, #eef2ff);
$l-indigo-1: var(--l-indigo-1, #e0e7ff);
$l-indigo-2: var(--l-indigo-2, #c7d2fe);
$l-indigo-3: var(--l-indigo-3, #a5b4fc);
$l-indigo-4: var(--l-indigo-4, #818cf8);
$l-indigo-5: var(--l-indigo-5, #6366f1);
$l-indigo-6: var(--l-indigo-6, #4f46e5);
$l-indigo-7: var(--l-indigo-7, #4338ca);  
$l-indigo-8: var(--l-indigo-8, #3730a3);
$l-indigo-9: var(--l-indigo-9, #312e81);
$l-indigo-10: var(--l-indigo-10, #1e1b4b);

$l-violet-0: var(--l-violet-0, #f5f3ff);
$l-violet-1: var(--l-violet-1, #ede9fe);
$l-violet-2: var(--l-violet-2, #ddd6fe);
$l-violet-3: var(--l-violet-3, #c4b5fd);
$l-violet-4: var(--l-violet-4, #a78bfa);
$l-violet-5: var(--l-violet-5, #8b5cf6);
$l-violet-6: var(--l-violet-6, #7c3aed);
$l-violet-7: var(--l-violet-7, #6d28d9);
$l-violet-8: var(--l-violet-8, #5b21b6);
$l-violet-9: var(--l-violet-9, #4c1d95);
$l-violet-10: var(--l-violet-10, #2e1065);

$l-purple-0: var(--l-purple-0, #faf5ff);
$l-purple-1: var(--l-purple-1, #f3e8ff);
$l-purple-2: var(--l-purple-2, #e9d5ff);
$l-purple-3: var(--l-purple-3, #d8b4fe);
$l-purple-4: var(--l-purple-4, #c084fc);
$l-purple-5: var(--l-purple-5, #a855f7);
$l-purple-6: var(--l-purple-6, #9333ea);
$l-purple-7: var(--l-purple-7, #7e22ce);
$l-purple-8: var(--l-purple-8, #6b21a8);
$l-purple-9: var(--l-purple-9, #581c87);
$l-purple-10: var(--l-purple-10, #3b0764);

$l-fuchsia-0: var(--l-fuchsia-0, #fdf4ff);
$l-fuchsia-1: var(--l-fuchsia-1, #fae8ff);
$l-fuchsia-2: var(--l-fuchsia-2, #f5d0fe);
$l-fuchsia-3: var(--l-fuchsia-3, #f0abfc);
$l-fuchsia-4: var(--l-fuchsia-4, #e879f9);
$l-fuchsia-5: var(--l-fuchsia-5, #d946ef);
$l-fuchsia-6: var(--l-fuchsia-6, #c026d3);
$l-fuchsia-7: var(--l-fuchsia-7, #a21caf);
$l-fuchsia-8: var(--l-fuchsia-8, #86198f);
$l-fuchsia-9: var(--l-fuchsia-9, #701a75);
$l-fuchsia-10: var(--l-fuchsia-10, #4a044e);

$l-pink-0: var(--l-pink-0, #fdf2f8);
$l-pink-1: var(--l-pink-1, #fce7f3);
$l-pink-2: var(--l-pink-2, #fbcfe8);
$l-pink-3: var(--l-pink-3, #f9a8d4);
$l-pink-4: var(--l-pink-4, #f472b6);
$l-pink-5: var(--l-pink-5, #ec4899);
$l-pink-6: var(--l-pink-6, #db2777);
$l-pink-7: var(--l-pink-7, #be185d);
$l-pink-8: var(--l-pink-8, #9d174d);
$l-pink-9: var(--l-pink-9, #831843);
$l-pink-10: var(--l-pink-10, #500724);

$l-rose-0: var(--l-rose-0, #fff1f2);
$l-rose-1: var(--l-rose-1, #ffe4e6);
$l-rose-2: var(--l-rose-2, #fecdd3);
$l-rose-3: var(--l-rose-3, #fda4af);
$l-rose-4: var(--l-rose-4, #fb7185);
$l-rose-5: var(--l-rose-5, #f43f5e);
$l-rose-6: var(--l-rose-6, #e11d48);
$l-rose-7: var(--l-rose-7, #be123c);
$l-rose-8: var(--l-rose-8, #9f1239);
$l-rose-9: var(--l-rose-9, #881337);
$l-rose-10: var(--l-rose-10, #4c0519);

$l-slate-0: var(--l-slate-0, #f8fafc);
$l-slate-1: var(--l-slate-1, #f1f5f9);
$l-slate-2: var(--l-slate-2, #e2e8f0);
$l-slate-3: var(--l-slate-3, #cbd5e1);
$l-slate-4: var(--l-slate-4, #94a3b8);
$l-slate-5: var(--l-slate-5, #64748b);
$l-slate-6: var(--l-slate-6, #475569);
$l-slate-7: var(--l-slate-7, #334155);
$l-slate-8: var(--l-slate-8, #1e293b);
$l-slate-9: var(--l-slate-9, #0f172a);
$l-slate-10: var(--l-slate-10, #020617);

$l-zinc-0: var(--l-zinc-0, #fafafa);
$l-zinc-1: var(--l-zinc-1, #f4f4f5);
$l-zinc-2: var(--l-zinc-2, #e4e4e7);
$l-zinc-3: var(--l-zinc-3, #d4d4d8);
$l-zinc-4: var(--l-zinc-4, #a1a1aa);
$l-zinc-5: var(--l-zinc-5, #71717a);
$l-zinc-6: var(--l-zinc-6, #52525b);
$l-zinc-7: var(--l-zinc-7, #3f3f46);
$l-zinc-8: var(--l-zinc-8, #27272a);
$l-zinc-9: var(--l-zinc-9, #18181b);
$l-zinc-10: var(--l-zinc-10, #09090b);

$l-linear-blue: var(--l-linear-blue, linear-gradient(-45deg, $l-blue-9, $l-blue-1));
$l-linear-red: var(--l-linear-red, linear-gradient(45deg, $l-red-9, $l-red-1));
$l-linear-orange: var(--l-linear-orange, linear-gradient(45deg, $l-orange-9, $l-orange-1));
$l-linear-green: var(--l-linear-green, linear-gradient(45deg, $l-green-9, $l-green-1));
